.ripple-background {
    background: #3399ff;
    height: 100vh;
    position: relative;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
}

.circle-small {
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.circle-medium {
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.circle-large {
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
}

.circle-xlarge {
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}

.circle-xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.circle-shade1 {
    opacity: 0.2;
}
.circle-shade2 {
    opacity: 0.5;
}

.circle-shade3 {
    opacity: 0.7;
}

.circle-shade4 {
    opacity: 0.8;
}

.circle-shade5 {
    opacity: 0.9;
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}

.home-links {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.login-link {
    color: white;

    border-radius: 5px;
    padding: 3rem 4rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #003266;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.login-link:hover {
    text-decoration: none;
    color: #999;
}

.login-link p {
    margin-bottom: 2rem;
}

.login-link i {
    font-size: 2rem;
}

.reat-link {
    background-color: #32ff32;
}

@media screen and (max-width: 1000px) {
    .home-links {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .home-links {
        width: 65vw;
    }
    .login-link {
        font-size: 1rem;
        padding: 2.5rem 3rem;
    }
}
